.login-button-container{
    border: 1px red solid; 
    display: flex;
    align-items: center; 
}

.login-button{
    font-family: Helvetica; 
    color: white; 
    background-color:#e50914; 
    line-height: normal;; 
    padding: 0px 17px; 
    font-weight: 100; 
    font-size: 1rem; 
    border-radius: 3px; 
    height: 2rem;
    
}

.login-button:hover{
    text-decoration: none; 
    color: white; 
}

@media screen and (max-width: 550px) {
    .login-button{
        font-size: 0.85rem; 
        letter-spacing:0.05em;
        padding: 8px 12px;
        line-height: normal; 
        border: none; 
        margin-top: .35em;
        padding: 0.25rem 0.5rem; 
    }
}