

.netflix-logo-container {
    border : 1px solid red;  
    display: flex;
    align-items: center;
  
}
.netflix-logo{
     margin: 1rem; 
}

@media screen and (max-width:549px){
    .netflix-logo{
        height: 20px; 
    }
}
@media screen and (min-width:550px) and (max-width:949px){
    .netflix-logo{
        height: 25px; 
    }
}

@media screen and (min-width:950px) and (max-width:1449px){
    .netflix-logo{
        height: 35px; 
        margin-left: 2rem; 
    }
}

@media screen and (min-width:1450px){
    .netflix-logo{
        height: 45px; 
        margin-top:4rem; 
        margin-left: 2rem;
    }
}

