.submit-bar {
    border : 1px solid yellow; 
    color: #fff; 
    display: flex; 
    flex-direction: row;
    margin: 0; 
    padding: 0; 
    width: 100%;
}
/*
@media screen and (min-width: 1450px){
    .submit-bar {
        height: 70px; 
    }
}
@media screen and (min-width: 950px) and (max-width: 1449px){
    .submit-bar {
        height: 60px; 
    }
}*/
@media screen and (max-width: 950px){
    .submit-bar {
        display:flex; 
        flex-direction: column; 
    }
}
@media screen and (min-width: 951px){
    .submit-bar {
        display:flex; 
        flex-direction: row;
        justify-content: center;  
    }
}
/*
@media screen and (min-width: 740px) and (max-width: 949px){
    .submit-bar {
        flex-direction: column; 
        height: 215px; 
        min-width: 660px; 
    }
}
*/
/*
@media screen and (min-width: 320px) and (max-width: 549px){
    .submit-bar{
        width: 100%; 
    }
}
@media screen and (max-width: 319px){
    .submit-bar{
        width:320px; 
    }
}

*/